button{
  font: inherit;
  position: relative;
  color: #f1f7f5;
  letter-spacing: 1px;
  margin: 10px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background: #3ca694;
}


.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  left: 0;
  color: #fff;
  width: 180px;
  box-shadow: 0px 0px 20px 0px  #3ca694;
}

.button--inverse {
  background: transparent;
  color: #3ca694;
}

.button--inverse:hover,
.button--inverse:active {
  color: #eee;
  background: #3ca694;
}


.button--danger {
  background: #c58484;
  border-color: #c58484;
}

.button--danger:hover,
.button--danger:active {
  background: #3ca694;
  border-color: #3ca694;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #eee;
  color: #979797;
  border-color: #eee;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}