.form-control {
  margin: 1rem ;

}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  border: solid 1px;
  border-radius: 10px;
  border-color: #F0EBE3;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #7D9D9C;
}

.form-control--invalid label,
.form-control--invalid p {
  color: rgb(204, 71, 71);
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: rgb(231, 144, 144);
  background: #ffd1d1;
}